<launch>

  	<!-- <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined base_link 100"/>

	<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0.92 0.92 0 -2.356 0 0 odom_combined cm 100"/>
  	<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_2" args="0 0 1.1 0 0 0 cm pt_base 100"/> -->
  	
  	<include file="$(find suturo_manipulation_moveit)/launch/publish_joint_state.launch"/>

  	<node name="publish_objects_tf_frames" pkg="suturo_manipulation_moveit" type="publish_objects_tf_frames" output="screen" respawn="true"/>

</launch>